.header {
  width: 1184px;
  height: 52px;
  margin: 0 auto 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
@media screen and (max-width: 768px) {
  .header {
    width: 288px;
    height: 42px;
    margin: 0 auto 0 auto;
  }
}
@media screen and (max-width: 1024px) {
  .header {
    width: 720px;
    height: 52px;
    margin: 0 auto 0 auto;
  }
}
