.cover__background {
  margin: 0 48px 0 48px;
  width: 1184;
  min-height: 740px;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #FFF;
  position: relative;
}
.cover__background::before {
  content: "";
  background: #2a2c2f;
  opacity: .3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  transition: .5s;
}
.cover__background:hover::before {
  transition: .2s;
  opacity: .8;
}

@media screen and (max-width: 767px) {
  .cover__background {
    margin: 0;
    max-width: 320px;
    min-height: 200px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .cover__background {
    margin: 0;
    max-width: 768px;
    min-height: 480px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .cover__background {
    margin: 0;
    max-width: 1024px;
    min-height: 640px;
  }
}











