.intro__content {
  width: 690px;
  margin: 0 auto 0 148px;
}
@media screen and (max-width: 767px) {
  .intro__content {
    width: 288px;
    margin: 0 auto 0 16px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
  .intro__content {
    width: 720px;
    margin: 0 auto 0 24px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .intro__content {
    margin: 0 auto 0 48px;
  }
}
